$dark-grey: #333333;
$light-grey: #bfbfbf;
$red: #ff3f3f;
$pink: #e45a6a;
$dark-blue: #35455D;
$blue: #3f72ff;
$green: #019587;
$orange: #faa64d;
$mango: #FFCC22;
$white: #ffffff;
$font4: 4px;
$font-family: Georgia,
"Times New Roman",
sans-serif;
$pc-media: 960px;
$pcs-media: 959px;
$pad-media: 760px;
$pads-media: 759px;
$phone-media: 480px;
$phones-media: 479px;
//電腦
@mixin pc-width() {
    @media all and (min-width: $pc-media) {
        @content;
    }
}

//平板
@mixin pad-width() {
    @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
        @content;
    }
}

//小平板
@mixin small-pad-width() {
    @media all and (min-width: $phone-media) and (max-width: $pads-media) {
        @content;
    }
}

//手機
@mixin phone-width() {
    @media all and (max-width: $phones-media) {
        @content;
    }
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    @media (max-width: 768px) {
        font-size: 12px;
    }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
#app {
    font-family: $font-family;
    color: $dark-grey;
    line-height: 1.5;
}

a {
    color: inherit;
    display: block;
    cursor: pointer;
    &:hover {
        color: $dark-grey;
    }
}

img {
    width: 100%;
    height: auto;
}

ul,
li {
    list-style: none;
    padding-left: 0;
}

.btn {
    &:focus {
        box-shadow: none;
    }
}

h1 {
    font-size: $font4*8 !important;
    font-weight: bold!important;
    margin-bottom: 0;
    @include phone-width() {
        font-size: $font4*10!important;
    }
}

h2 {
    font-size: $font4*7!important;
    @include phone-width() {
        font-size: $font4*6!important;
    }
}

h3 {
    font-size: $font4*5!important;
    @include phone-width() {
        font-size: $font4*5!important;
    }
}

h5 {
    font-size: $font4*4!important;
    @include phone-width() {
        font-size: $font4*4!important;
    }
}

h6 {
    font-size: $font4*3!important;
    @include phone-width() {
        font-size: $font4*3!important;
    }
}

.line {
    &-grey {
        height: $font4 * 5;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            height: 1px;
            width: 100%;
            background-color: $dark-blue;
            left: 0;
            top: 49%;
        }
    }
}

.btn {
    &-link {
        color: $dark-grey!important;
        &:hover {
            text-decoration: underline;
            color: inherit;
            // color: $white;
            // background-color: lighten($dark-blue, 55%);
        }
    }
}

button {
    &:focus {
        border: 0px;
        outline: none;
    }
}

.content {
    &-bottom {
        padding: 0 $font4 * 5;
        margin-bottom: $font4*14 - 1px;
        .btn {
            padding: ($font4 * 4 - 1px) 0;
        }
        @include small-pad-width() {
            margin: ($font4*3 - 2px) 0;
            padding: 0 ($font4+1px);
        }
        @include phone-width() {
            margin: ($font4*3 - 2px) 0;
            padding: 0 ($font4+1px);
        }
    }
}

.u-desktop-only {
    display: block;
    @include pad-width() {
        display: none;
    }
    @include small-pad-width() {
        display: none;
    }
    @include phone-width() {
        display: none;
    }
}

.u-mobile-only {
    display: none;
    @include pad-width() {
        display: block;
    }
    @include small-pad-width() {
        display: block;
    }
    @include phone-width() {
        display: block;
    }
}