<template>
  <div class="home">
    <div class="content">
      <News></News>
    </div>
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
  </div>
</template>

<style lang="scss" scoped>
@import "@/assets/sass/base/_variables.scss";

.content {
  padding: ($font4 * 5) 0;
  @include phone-width() {
    padding: 0;
  }
}
</style>

<script>
import News from "@/views/News.vue";

export default {
  name: "home",
  components: {
    News
  },
  data() {
    return {};
  }
};
</script>
