<template>
  <div class="content--news">
    <Card
      v-if="index < newsList.length && index < perLoading"
      v-for="(news, index) in newsList"
      :key="index"
      :newsItem="news"
    ></Card>
    <div class="content-bottom">
      <b-button
        block
        variant
        @click="perLoading += 15; $store.commit('loading', true)"
        v-if="perLoading < newsList.length"
      >Load More</b-button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "@/assets/sass/base/_variables.scss";
.content {
  &-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
</style>

<script>
import axios from "axios";
import Card from "@/components/Card.vue";
import news from "@/news.json";

export default {
  name: "News",
  components: {
    Card
  },
  data() {
    return {
      baseUrl: process.env.VUE_APP_BASE_URL,
      newsList: {},
      totalNewsCount: {
        count: 0
      },
      loading: 0,
      perLoading: 15
    };
  },
  methods: {
    fetchData() {
      axios.get("news.json").then(response => {
        // console.log(response);
        this.newsList = [...response.data];
        this.$store.commit("loading", false);
        // this.newsArray = this.newsList.splice(0, 15);
      });
    }
  },
  created() {
    // get data when loading page
    this.fetchData();
  },
  computed: {
    moreNews() {
      return this.newsList.length < this.totalNewsCount.count;
    }
  }
};
</script>
