<template>
  <div class="content--regions">
    <h1>Welcome to {{ title }} Page</h1>
    <Card
      v-if="index < regionsList.length && index < perLoading"
      v-for="(region, index) in regionsList"
      :key="index"
      :newsItem="region"
    ></Card>
    <div class="content-bottom">
      <b-button
        block
        variant
        @click="perLoading += 15; $store.commit('loading', true)"
        v-if="perLoading < regionsList.length"
      >Load More</b-button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "@/assets/sass/base/_variables.scss";
.content {
  &-regions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-bottom {
    padding: 0 $font4 * 5;

    .btn {
      padding: ($font4 * 4 - 1px) 0;
    }
  }
}
</style>

<script>
import axios from "axios";
import Card from "@/components/Card.vue";

export default {
  name: "Regions",
  components: {
    Card
  },
  data() {
    return {
      baseUrl: process.env.VUE_APP_BASE_URL,
      regionsList: {},
      title:
        this.$route.name.charAt(0).toUpperCase() + this.$route.name.slice(1),
      perLoading: 15
    };
  },
  methods: {
    fetchRegionsData() {
      axios.get("regions.json").then(response => {
        // console.log(response.data[0].result.records);
        this.regionsList = [...response.data[0].result.records];
        this.$store.commit("loading", false);
        // this.newsArray = this.newsList.splice(0, 15);
      });
    }
  },
  created() {
    // get data when loading page
    this.fetchRegionsData();
  }
};
</script>
