<template>
  <div class="content--tv">
    <h1>Welcome to TV Page</h1>
  </div>
</template>

<style lang="scss" scoped>
@import "@/assets/sass/base/_variables.scss";
.content {
  &-tv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
</style>

<script>
export default {
  name: "TV",
  data() {
    return {
      title:
        this.$route.name.charAt(0).toUpperCase() + this.$route.name.slice(1)
    };
  }
};
</script>
