<template>
  <div class="content--video">
    <h1>Welcome to Video Page</h1>
  </div>
</template>

<style lang="scss" scoped>
@import "@/assets/sass/base/_variables.scss";
.content {
  &-video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-bottom {
    padding: 0 $font4 * 5;

    .btn {
      padding: ($font4 * 4 - 1px) 0;
    }
  }
}
</style>

<script>
export default {
  name: "Video",
  props: ["title"],
  data() {
    return {
      title:
        this.$route.name.charAt(0).toUpperCase() + this.$route.name.slice(1)
    };
  }
};
</script>
