<template>
  <div class="news-item">
    <div class="news-inner">
      <h2 class="news-title">{{ newsItem.title }}</h2>
      <div class="news-img">
        <img :src="newsItem.image" :alt="newsItem.title" />
      </div>
      <div class="news-text" v-if="newsItem.text">{{ newsItem.text }}</div>
      <p class="news-date" v-if="newsItem.postTime">Updated: {{ newsItem.postTime }}</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Card",
  props: {
    newsItem: Object
  },
  components: {},
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/sass/base/_variables.scss";

.news {
  &-item {
    width: calc(100% / 3);
    display: inline-flex;
    padding: 0 $font4 * 5;
    margin-bottom: $font4 * 11 + 1px;

    @include small-pad-width() {
      width: 100%;
      margin: 0;
    }

    @include phone-width() {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  &-inner {
    width: 100%;
    text-align: left;
    padding: $font4 * 3 - 2px;
    border: 1px solid $light-grey;

    @include small-pad-width() {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: ($font4 * 14 - 1px) 1fr ($font4 * 7);
      border-right: 0px;
      border-left: 0px;
      border-top: 0px;
    }
    @include phone-width() {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: ($font4 * 14 - 1px) 1fr ($font4 * 7);
      border-right: 0px;
      border-left: 0px;
      border-top: 0px;
    }
  }

  &-title {
    height: $font4 * 12;
    font-weight: bold;
    overflow: hidden;
    margin: $font4 * 5 0;
    font-size: $font4 * 5 !important;
    overflow: hidden;
    line-height: 1.2;

    @include small-pad-width() {
      height: $font4 * 10;
      font-size: $font4 * 4 !important;
      margin: ($font4 * 3 - 2px) 0 ($font4 + 1px) 0;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    @include phone-width() {
      height: $font4 * 10;
      font-size: $font4 * 4 !important;
      margin: ($font4 * 3 - 2px) 0 ($font4 + 1px) 0;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  &-img {
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: $font4 * 40;
    overflow: hidden;
    @include small-pad-width() {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      padding-right: $font4 * 3 - 2px;
    }
    @include phone-width() {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      padding-right: $font4 * 3 - 2px;
    }
  }

  &-text {
    height: $font4 * 50;
    margin: ($font4 * 3 - 2px) 0;
    text-align: left;
    overflow: hidden;
    font-size: $font4 * 4 - 2px;
    @include small-pad-width() {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      margin: ($font4 + 1) 0 0 0;
      max-height: $font4 * 32;
    }
    @include phone-width() {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      margin: ($font4 + 1) 0 0 0;
      max-height: $font4 * 32;
    }
  }

  &-date {
    margin-bottom: $font4 * 4 - 1px;
    @include small-pad-width() {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      color: lighten($green, 10%);
      font-size: $font4 * 3;
      margin: ($font4 * 3 - 2px) 0 0 0;
    }
    @include phone-width() {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      color: lighten($green, 10%);
      font-size: $font4 * 3;
      margin: ($font4 * 3 - 2px) 0 0 0;
    }
  }
}
</style>
