<template>
  <b-container class="footer" :class="{ 'u-desktop-only': !isMobile }">
    <b-row>
      <b-col cols="6" class="text-left">
        <router-link class to="/" active-class="active">News</router-link>|
        <router-link class to="/regions" active-class="active">Regions</router-link>|
        <router-link class to="/video" active-class="active">Video</router-link>|
        <router-link class to="/tv" active-class="active">TV</router-link>
      </b-col>
      <b-col class="text-right copyright">
        <p class="text">Copy right © AMPOS</p>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "Footer",
  props: ["isMobile"],
  components: {}
};
</script>

<style lang="scss" scoped>
@import "@/assets/sass/base/_variables.scss";
.footer {
  &.container {
    padding: ($font4 * 6 + 1px) $font4 * 5 ($font4 * 6 + 1px) $font4 * 9;
    max-width: 100%;
    color: $green;
    .row {
      margin-right: 0;
    }

    a {
      font-weight: bold;
      display: inline;
      margin: 0 $font4 * 4 + 1px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}
</style>