<template>
  <div class="header">
    <div>
      <b-navbar toggleable="lg" type="primary" variant>
        <b-navbar-brand href="#" class="logo">
          <img alt="logo" src="../assets/images/logo.png" />
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse">
          <font-awesome-icon icon="bars" />
        </b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav fixed="top">
          <b-navbar-nav class="col-md-6">
            <router-link to="/" active-class="active">News</router-link>
            <router-link to="/regions" active-class="active">Regions</router-link>
            <router-link to="/video" active-class="active">Video</router-link>
            <router-link to="/tv" active-class="active">TV</router-link>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="col-md-6 u-desktop-only">
            <b-nav-form>
              <font-awesome-icon icon="search" />
              <b-form-input class placeholder="Search"></b-form-input>
            </b-nav-form>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <div class="u-mobile-only">
      <b-navbar-nav class="header-top" fixed="top">
        <b-nav-form>
          <font-awesome-icon icon="search" />
          <b-form-input class placeholder="Search"></b-form-input>
        </b-nav-form>
      </b-navbar-nav>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  components: {}
};
</script>

<style lang="scss" scoped>
@import "@/assets/sass/base/_variables.scss";
.navbar {
  padding: $font4 * 5;
  background-color: $green;
  color: $white;

  @include small-pad-width() {
    padding: ($font4 * 2) ($font4 * 4 - 1px) ($font4 * 2) ($font4 * 5 - 2px);
  }

  @include phone-width() {
    padding: ($font4 * 2) ($font4 * 4 - 1px) ($font4 * 2) ($font4 * 5 - 2px);
  }

  &-collapse {
    padding: $font4 * 2;

    a {
      display: inline-flex;
      width: 25%;
      text-align: center;
      justify-content: center;
      padding: 10px;
      border-radius: $font4 * 3;
      margin-right: $font4;
      background-color: lighten($green, 5%);

      &.router-link-exact-active {
        background-color: darken($green, 10%);

        &:hover {
          color: $white;
        }
      }

      &:hover {
        text-decoration: none;
        color: darken($green, 10%);
        border: 1px solid darken($green, 10%);
      }
      &:last-child {
        margin: 0;
      }

      @include pad-width() {
        width: 100%;
        margin-bottom: $font4 * 2;
      }
      @include small-pad-width() {
        width: 100%;
        margin-bottom: $font4 * 2;
      }
      @include phone-width() {
        width: 100%;
        margin-bottom: $font4 * 2;
      }
    }
  }

  &-nav {
    position: relative;

    form {
      width: 100%;
    }

    .form-control {
      width: 100%;
      border: 0px;
      border-radius: $font4 * 5;
      padding-left: $font4 * 8;
      color: $light-grey;
    }

    svg {
      position: absolute;
      left: $font4 * 3 - 2px;
      top: $font4 * 3 - 2px;
      color: $light-grey;
    }
  }

  &-toggler {
    height: $font4 * 10;
    border: 0px;
    color: $white;
    padding: 0;
    font-size: $font4 * 6;

    @include pad-width() {
      height: auto;
    }
    @include small-pad-width() {
      height: auto;
    }

    @include phone-width() {
      height: auto;
    }
  }
}
.logo {
  width: $font4 * 30;
  height: $font4 * 30;
  padding: 0;
  margin-right: $font4 * 20;

  @include pad-width() {
    max-height: $font4 * 8;
    max-width: $font4 * 8;
  }
  @include small-pad-width() {
    max-height: $font4 * 8;
    max-width: $font4 * 8;
  }

  @include phone-width() {
    max-height: $font4 * 8;
    max-width: $font4 * 8;
  }
}

.u-mobile-only {
  .navbar-nav {
    background-color: $light-grey;
    padding: $font4 * 3 - 2px;

    svg {
      top: $font4 * 5;
      left: $font4 * 5;
    }
  }
}
</style>