<template>
  <div id="app">
    <Header></Header>
    <Loading v-if="isLoading"></Loading>
    <router-view />
    <Footer :isMobile="false"></Footer>
  </div>
</template>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>

<script>
import Header from "@/components/Header.vue";
import Loading from "@/components/Loading.vue";
import Footer from "@/components/Footer.vue";
import { mapState } from "vuex";

export default {
  name: "index",
  components: {
    Header,
    Loading,
    Footer
  },
  data() {
    return {
      isMobile: false
    };
  },
  computed: {
    ...mapState(["isLoading"])
  }
};
</script>